<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <br>
  <nav>
    <div id="container", style="text-align:center">
      <button type="button home-button" id="button4" ><a href="music.html">Music</a></button>
      <button type="button home-button" id="button5" ><a href="motorcycles.html">MC</a></button>
      <button type="button contact-button" id="button6"><a href="other.html">Other</a></button>
      <button type="button home-button" id="button4" ><a href="https://github.com/EdwinVelazquez">Github</a></button>
      <button type="button home-button" id="button4" ><a href="https://linkedin.com/in/edwin-velazquez-b5650b8b">Linkedin</a></button>
      <button type="button home-button" id="button4" ><a href="http://localhost:3000/blog">Blog</a></button>
      </div>
  </nav>
  <body style="background-color:powderblue;">
    <h2 class="text-success" style="text-align:center">Project Manager/Developer</h2>
    <h3 class="text-muted" style="text-align:center">Edwin Velazquez</h3>
    <img class="center-block" src="images\jobpic.jpg" alt="job pic" height="150" width="125">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <br>
    <body>
      <!-- <nav class="navbar navbar-default"> -->
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <!-- <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">Brand</a> -->
      <!-- </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="https://github.com/EdwinVelazquez">Github <span class="sr-only">?</span></a></li>
          <li><a href="https://linkedin.com/in/edwin-velazquez-b5650b8b">LinkedIn</a></li>
          <li><a href="https://localhost:3000/blog">Blog</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    <!-- </div><!-- /.container-fluid -->
    <!-- </nav> -->
  &nbsp&nbsp&nbsp&nbsp
  <div class="row">
  <div class="container">
    &nbsp&nbsp&nbsp&nbsp
    <div class="btn-group-vertical" role="group" style="float:left;" aria-label="links">
    <!-- <div class="floating-box" style="float: left; text-align: center" role="group" aria-label="..."> -->
    <h4 class="text-success" style="text-align:center">Project Links</h4>
    <button type="button" class="btn btn-default"><a href="jukebox.html">Music Juke Box</button>
    <button type="button" class="btn btn-default"><a href="https://hseiny.com">High School-Website</button>
    <button type="button" class="btn btn-default"><a href="https://edwinvelazquez4.wixsite.com/mysite">Crime & Housing-Python</button>
    <button type="button" class="btn btn-default"><a href="">MotorCycle Game-Java</button>
  </div>
    &nbsp&nbsp&nbsp&nbsp
      <!-- <button type="button" onclick="C:\Users\EDWIN\Desktop\TTP\day7\jukebox.html" class="btn btn-default">Jukebox</button>
    <button type="button" class="btn btn-default">Game</button> -->
      <div class="floating-box" style="float: left; text-align: center" role="group" aria-label="software list">
      <!-- <div class="btn-group" role="group" aria-label="..."> -->
        <h4 class="text-success" style="text-align:center">Software Experience</h4>
        <ul class="text-muted">
          <li>HTML,CSS,JavaScript/EJS</li>
          <li>MySQL/PostGres Databases</li>
          <li>Python</li>
          <li>Java</li>
          <li>LAMP/WAMP/MAMP Servers</li>
          <li>Unix/Linux</li>
          <li>LISP</li>
          <li>Prolog</li>
        </ul>
      </div>
      &nbsp&nbsp&nbsp&nbsp
      <div class="floating-box" style="float: left; text-align: center" role="group" aria-label="frameworks list">
        <!-- <div class="btn-group" role="group" aria-label="..."> -->
          <h4 class="text-success" style="text-align:center">Frameworks</h4>
          <ul class="text-muted">
            <li>Express-Node</li>
            <li>Agile</li>
            <li>Waterfall</li>
            <li>Kaizen</li>
          </ul>
        </div>
        <div class="floating-box" style="float: left; text-align: center" role="group" aria-label="qualifications">
          <h4 class="text-success" style="text-align: center">Summary Of Qualifications</h4>
          <h4 class="text-muted">Considerable background and experience in  </h4>
          <h4 class="text-muted">technical and/or functional roles providing </h4>
          <h4 class="text-muted">leadership in most aspects of project/IT </h4>
          <h4 class="text-muted">management. Demonstrated depth and breadth </h4>
          <h4 class="text-muted">of expertise to deliver value to stakeholders, </h4>
          <h4 class="text-muted">management teams, and recipient organizations.</h4>
          <h4 class="text-muted">Ability to leverage skills in motivating, facilitating,</h4>
          <h4 class="text-muted"> influencing and driving results for firms dealing with</h4>
          <h4 class="text-muted"> both legacy and cutting edge technologies (IBM, AVAYA, Cisco,</h4>
          <h4 class="text-muted">Google, Nice, Siemens, ROLM, Nortel to name but a few).</h4>
        </div>
        </div>
        </div>
        <script src="js/bootstrap.min.js"></script>
  </body>
</html>
