<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
      <!-- Bootstrap -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script   src="https://code.jquery.com/jquery-3.1.0.slim.js"   integrity="sha256-L6ppAjL6jgtRmfiuigeEE5AwNI2pH/X9IBbPyanJeZw="   crossorigin="anonymous"></script>
        <!-- <link rel='stylesheet' href='/stylesheets/style.css' />
        <script type="text/javascript" src="script.js"></script> -->
  </head>
<body style="background-color:powderblue;">
  <h2 class="text-success" style="text-align:center">Project Manager/Developer</h2>
  <h3 style="text-align:center">Edwin Velazquez</h3>
  <img class="center-block" src="images\jobpic.jpg" alt="job pic" height="150" width="125">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>
  <body><nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="https://github.com/EdwinVelazquez">Github <span class="sr-only">(current)</span></a></li>
        <li><a href="https://linkedin.com/in/edwin-velazquez-b5650b8b">LinkedIn</a></li>
        <li><a href="https://localhost:3000/blog">Blog</a></li>
      </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="span4 offset4" style="float: left; text-align: center" role="group" aria-label="...">
  <!-- <div class="btn-class="float-none"group" role="group" aria-label="..."> -->
  <!-- <button type="button" onclick="C:\Users\EDWIN\Desktop\TTP\day7\jukebox.html" class="btn btn-default">Jukebox</button>
  <button type="button" class="btn btn-default">Game</button> -->
<h4 style="text-align:center">Project Links</h4>
  <!-- <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Websites
      <span class="caret"></span>
    </button> -->
    <ul>
      <li><a href="https://edwinvelazquez4.wixsite.com/mysite">Crime & Housing-Website/Python</a></li>
      <li><a href="https://hseiny.com">High School-Website</a></li>
      <li><a href="C:\Users\EDWIN\Desktop\TTP\day7\jukebox.html">Music Juke Box</a></li>
      <li><a href="">MotorCycle Game-Java</a></li>
    </ul>
  </div>
  <div class="float-left" role="group" aria-label="...">
    <div class="btn-group" role="group" aria-label="...">
      <h4 style="text-align:center">Software</h4>
      <ul>
        <li>HTML,CSS,JavaScript/EJS</li>
        <li>MySQL/PostGres Databases</li>
        <li>Python</li>
        <li>Java</li>
        <li>LAMP/WAMP/MAMP Servers</li>
        <li>Unix/Linux</li>
        <li>LISP</li>
        <li>Prolog</li>
      </ul>
    </div>
    <div class="float-left" role="group" aria-label="...">
      <div class="btn-group" role="group" aria-label="...">
        <h4 style="text-align:center">Frameworks</h4>
        <ul>
          <li>Express-Node</li>
          <li>Agile</li>
          <li>Waterfall</li>
          <li>Kaizen</li>
        </ul>
      </div>
</div>
<!-- </div> -->
  <!-- <script src="js/bootstrap.min.js"></script> -->
</body>
